body {
  color: white;
  font-family: 'HelveticaNeue-UltraLight', 'Helvetica Neue UltraLight', 'Helvetica Neue', Arial, Helvetica, sans-serif;
  font-weight: 100;
  letter-spacing: 1px;
}
.grey-stripe {
  height: 15px;
  background-color: rgb(63, 68, 78);
}
.grey-block {
  background-color: rgb(63, 68, 78);
  padding-top: 30px;
  margin-bottom: 5%;
  padding-bottom: 30%;
  padding-left: 2%;
  color: white;
  font-family: 'HelveticaNeue-UltraLight', 'Helvetica Neue UltraLight', 'Helvetica Neue', Arial, Helvetica, sans-serif;
  font-weight: 100;
  letter-spacing: 1px;
}
.navbar {
  font-family: 'HelveticaNeue-UltraLight', 'Helvetica Neue UltraLight', 'Helvetica Neue', Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-size: 10;
  letter-spacing: 2px;
  color: black;
  background-color: rgb(218, 218, 218);
  border-bottom: 7px solid rgb(63, 68, 78);
  margin-bottom: 0px;
  padding-right: 10%;
  height: 110px;
}

.navbar-right {
  margin-top: 53px;
}
.logo {
  /*height: 498%;*/
  margin-left: 10%;
  height: 300%;
}
.first-section {
  margin-top: 0px;
  padding-top: 97px;
}
.section h3 {
  text-align: center;
  letter-spacing: 4px;
}
.section {
  background-position: 10% 50%;
  background-size: 110% 50%;
  background-repeat: no-repeat;
}
#main {
  background-image: url(images/main.png);
}
#contact {
  background-image: url(images/contact.png);
}
#news {
  background-image: url(images/news.png);
}
#about {
  background-image: url(images/about.png);
}
